@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';
@import '../common/components/Button/Button.module';
.remoteBlock {
  background-color: $bgSecondColor;
  .remoteContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .remoteBtn {
      @extend .btn;
      text-decoration: none;
      padding: 10px 20px;
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }
}


