@import '../../styles/sass/variables';
@import '../../styles/sass/mixins';
@font-face {
  font-family: "Josefin Sans";
  src: url('../../../assets/fonts/JosefinSans.ttf')
}

.title {
  @include text($titleFontFamily, 36px, 1.2);
  text-transform: capitalize;
  letter-spacing: 5px;
  text-align: center;
  margin: 0 0 30px;
  position: relative;
    h2 {
      margin: 0;
    }
  &::before {
    position: absolute;
    content: '';
    background-color: $primaryColor;
    width: 55px;
    height: 1px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  //.title h2 {
  //  color: $textColor;
  //  margin: 0;
  //  font-family: $titleFontFamily;
  //  font-size: 36px;
  //  font-weight: 400;
  //  text-transform: uppercase;
  //  font-style: italic;
  //  line-height: 1.2em;
  //  letter-spacing: 3px;
  //}

}


