@import '../common/styles/sass/variables';
@font-face {
  font-family: "Josefin Sans";
  src: url('../assets/fonts/Oswald.ttf')
}
.projectsBlock {
  min-height: 80vh;
  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    .projects {
      margin-bottom: 30px;
      margin-top: 30px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      @media screen and (max-width: 1140px) {
        justify-content: center;
      }
    }
  }
}

